<!DOCTYPE html>
<html>
	<head>
		<link href="css/bootstrap.css" rel="stylesheet">
		<link href="css/custom.css" rel="stylesheet">
		<link href="css/alertify.core.css" rel="stylesheet">
		<link href="css/alertify.bootstrap.css" rel="stylesheet">
		<link href="css/alertify.default.css" rel="stylesheet">

	</head>
	<body ng-app="app">
	    <header>
	    	<nav class="navbar navbar-inverse">
			   <div class="container-fluid">
				    <div class="navbar-header">
				       <ul class="nav navbar-nav">
				       	    <!--<li><a href="#cargo" data-toggle="tab">Cargos</a></li>
				       	    <li><a href="#grupo" data-toggle="tab">Grupos</a></li>-->
				       	    <li><a href="#empleado" data-toggle="tab">Empleados</a></li>
				       	    <li><a href="#supervisores" data-toggle="tab">Supervisores</a></li>
				       	    <li><a href="#" data-toggle="tab">Vista</a></li>

				       </ul>
				    </div>
				  </div>
							
			</nav>
	    </header>
	    <div class="container-fluid">
	       <div class="row">
	         <div class="col-lg-12">
         		 <div class="tab-content">
         		 	 <div class="tab-pane" id="cargo" ng-controller="GrupoController as gc">
                         
                         <div class="col-lg-6">
                         	<form class="form-horizontal"> 
								<div class="form-group">
								    <label for="inputEmail3" class="col-sm-2 control-label">Email</label>
									<div class="col-sm-10">
									<input type="email" class="form-control" id="inputEmail3" placeholder="Email">
									</div>
								</div>
                            </form>
                         </div>
                         


                         <input type="button" value="click!!!!" class="btn btn-primary" ng-click="save()">



                     </div>
                     <div class="tab-pane" id="grupo">
                     
                     </div>
                      <div class="tab-pane " id="supervisores" ng-controller="SupervisoresController as sc">
                           <div class=col-lg-8>
                           	     <form class="form-horizontal">
                           	     	<select class="form-control" ng-model="grupoid" id="txtgrupo1" ng-options="option.nombre for option in grupos track by option.id">
									  	
									  </select>
                           	     </form>
                           </div>

                     
                     </div>
                      <div class="tab-pane active " id="empleado" ng-controller="EmpleadoController as ec">

                        <div class="col-lg-4">
                           <fieldset> <legend>Datos del empleado</legend> </fieldset>
                           <form class="form-horizontal">
                        	    <div class="form-group">
                        	    	<label for="txtcedula" class="col-sm-3 control-label">Cedula :</label>
									<div class="col-sm-9">
									<input type="text" class="form-control" id="txtcedula" ng-model="empleado.cedula" placeholder="Cedula" maxlength="16">
									</div>
                        	    </div>
                        	    <div class="form-group">
                        	    	<label for="txtnombre" class="col-sm-3 control-label" >Nombre :</label>
									<div class="col-sm-9">
									<input type="text" class="form-control" id="txtnombre" ng-model="empleado.nombre" placeholder="Nombre" maxlength="80">
									</div>
                        	    </div>
                        	     <div class="form-group">
                        	    	<label for="txtemail" class="col-sm-3 control-label">Correo :</label>
									<div class="col-sm-9">
									<input type="text" class="form-control" id="txtemail" ng-model="empleado.correo" placeholder="Correo" maxlength="80">
									</div>
                        	    </div>
                        	     <div class="form-group">
                        	    	<label for="txttelefono" class="col-sm-3 control-label">Telefono :</label>
									<div class="col-sm-9">
									<input type="text" class="form-control" id="txttelefono" ng-model="empleado.telefono" placeholder="Telefono" maxlength="15">
									</div>
                        	    </div>
                        	     <div class="form-group">
                        	    	<label for="txtcargo" class="col-sm-3 control-label">Cargo :</label>
									<div class="col-sm-9">
									  <select class="form-control" ng-model="empleado.cargo" id="txtcargo">
									  	<option value="">Seleccione</option>
									    <option ng-repeat="car in cargos.cargos" value="{{car.id}}">{{car.nombre}}</option>
									  </select>
									</div>
                        	    </div>
                        	     <div class="form-group">
                        	    	<label for="txtgrupo" class="col-sm-3 control-label">Grupo :</label>
									<div class="col-sm-9">
									  <select class="form-control" ng-model="empleado.grupo" id="txtgrupo">
									  	<option value="">Seleccione</option>
									  	 <option ng-repeat="gr in grupos.grupos" value="{{gr.id}}">{{gr.nombre}}</option>
									  </select>
									</div>
                        	    </div>
                        	    <div class="col-lg-12 col-lg-offset-9">
                        	    	 
                        	        	<button type="button" ng-click="guardarempleado()" class="btn btn-primary" aria-label="Left Align" title="Guardar Datos">
										  <span class="glyphicon glyphicon-hdd" aria-hidden="true" title="Guardar Datos"></span>
										</button>
										<button type="button" ng-click="limpiar()" class="btn btn-primary" aria-label="Left Align" title="Limpiar">
										  <span class="glyphicon glyphicon-erase" aria-hidden="true" title="Limpiar"></span>
										</button>
                        	         
                        	    </div>
                        	   
                           </form>
                        </div>

                        <div class="col-lg-8">
                        	 <fieldset> <legend>Empleados Registrados</legend> </fieldset>
                        	 <div class="col-lg-12">
                        	 	<table class="table table-bordered">
                        	 		 <thead>
                        	 		     <tr class="active"> 
	                        	 		     <th>Nombre</th>
	                        	 		 	 <th>Correo</th>
	                        	 		 	 <th>Cargo</th>
	                        	 		 	 <th>Grupo</th>
	                        	 		 	 <th>Supervisor</th>
	                        	 		 	 <th>Opciones</th>
                        	 		 	 </tr>
                        	 		 	
                        	 		 </thead>
                        	 		 <tbody>
                        	 		    <tr ng-repeat="item in empleados track by item.id">
                        	 		    	<td> <span ng-model="item.nombre"></span> {{item.nombre}} </td>
                        	 		    	<td> <span ng-model="item.nombre"></span> {{item.nombre}}</td>
                        	 		    	<td> <span ng-model="item.nombre"></span> {{item.nombre}}</td>
                        	 		    	<td> <span ng-model="item.nombre"></span> {{item.nombre}} </td>
                        	 		    	<td> <span ng-model="item.nombre"></span> {{item.nombre}}</td>
                        	 		    	<td> 
                        	 		    	   <button type="button" ng-click="GetEmpleadoEditar(item)" class="btn btn-primary" aria-label="Left Align" title="editar">
										         <span class="glyphicon glyphicon-pencil" aria-hidden="true" title="Guardar Datos"></span>
										       </button>
										        <button type="button" ng-click="EliminarEmpleado(item)" class="btn btn-primary" aria-label="Left Align" title="editar">
										         <span class="glyphicon glyphicon-trash" aria-hidden="true" title="Guardar Datos"></span>
										       </button>


                        	 		    	</td>
                        	 		    </tr>
                        	 		 	 
                        	 		 </tbody>
                        	 	</table>
                        	 </div>

                        </div>
                       
                     </div>
         		 </div>
	         </div>
	       </div>
	    </div>
		<footer></footer>

	</body>

	<script type="text/javascript" src="js/jquery-1.11.3.min.js" ></script>
    <script type="text/javascript" src="js/bootstrap.min.js"></script>
    <script type="text/javascript" src="js/bootstrap.min.js"></script>

    <script type="text/javascript" src="js/alertify.js"></script>

    <script type="text/javascript" src="angular/angular.min.js"></script> 
    <script type="text/javascript" src="angular/ngStorage.min.js"></script>
    <script type="text/javascript" src="angular/app/app.js"></script>
    <script type="text/javascript" src="angular/factory/factory.js"></script>
    <script type="text/javascript" src="angular/controller/grupos.js"></script>
    <script type="text/javascript" src="angular/controller/empleados.js"></script>
     <script type="text/javascript" src="angular/controller/supervisores.js"></script>
</html>